<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main-div-wrapper">
        <header>
            <h1>
                <a href="/"><span>Campgrounds</span></a>
            </h1>
            <nav>
                <ul>
                    {{#if loggedIn}}
                    <li><a href="/dashboard"><span>Dashboard</span></a></li>
                    <li><button id="logout" class="btn"><span>Logout</span></button></li>

                    {{else}}
                    <li><a href="/login"><span>Login</span></a></li>
                    <li><a href="/signup"><span>Sign up</span><a></a></li>
                    {{/if}}
                </ul>

            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>
        <footer>
            Campgrounds 2020
        </footer>
    </div>

</body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</html>