<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
    <link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <link rel="stylesheet" href="/stylesheet/correcting-style.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/public/javascript/kickstart.js"></script>

</head>

<body>
    <div class="main-div-wrapper">
        <header class="col_12">
            <h1 class="col_6">
                <a href="/"><span>Campgrounds</span></a>
            </h1>
            <nav class="col_6">
                <ul>
                    {{#if loggedIn}}
                    <li><a href="/dashboard"><span>Dashboard</span></a></li>
                    <li><button id="logout" class="medium"><span>Logout</span></button></li>

                    {{else}}
                    <li><a href="/login"><span>Login</span></a></li>
                    <li><a href="/signup"><span>Sign up</span><a></a></li>
                    {{/if}}
                </ul>

            </nav>
        </header>

        <main class="grid flex">
            {{{ body }}}
        </main>
        <footer>
            Campgrounds 2020
        </footer>
    </div>

</body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</html>