* {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: rgb(52, 52, 202);
}

header {
  background-color: rgb(240, 233, 233);
  border-bottom: 1px solid var(--tertiary);
  align-items: center;
}
header h1 {
 font-size: 30px;
}

header a {
  text-decoration-style: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}
nav ul li {
  font-size: 20px;
}

main {
  background-color: rgb(110, 145, 110);
}

/* state search */

.state-search {
  font-size: 20px;
  display: block;
  margin: 30px 0;
}


/* post */ 

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}


/* comment */

.comment-wrapper:nth-child(odd) {
  background-color: rgb(214, 210, 210);
}



/* footer */
footer {
  border-top: 1px solid black;
  display: block;
  text-align: left;
  margin-top: 20px;
  padding: 10%;
  font-size: 110%;
  background-color: rgb(240, 233, 233);
}
footer h4 {
  font-size: 20px;
  text-align: right;
}