ul {
  list-style-type: none;  
  padding-inline-start: 0;
}

header {
    border-bottom: 1px solid var(--tertiary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5%;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}