<div class="login-wrapper grid flex col_12">
    
    <form class="login-form grid col_12">
        <div class="grid col_12">
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>
        <div class="grid col_12">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div class="grid">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>